html{
    min-height: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C2937; 
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  #efc9de;
    border-radius: 1px;
}
  
body{
    margin: 0;
    scroll-behavior: smooth;
    background-color: #1C2937;
    background-image: url(noise.gif);
    background-repeat: repeat;
    background-size: 40%;
    cursor: url("cursor.png"), auto;
}

header{
    height: 8%;
    text-align: left;
    position: fixed;
    bottom: 92%;
}

header img{
    margin: 3.5%;
    width : 7%;
    opacity: 1;
}



.norm{
    opacity: 1;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-style: normal;
    -webkit-text-stroke: none;
    padding-left:20%;
    padding-top:10%;
    z-index: 4;
    letter-spacing: 5px;
    line-height: 85%;
}



.double{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

.doubleimg{
    width: 80%; 
    margin: 0% 10% 5% 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.doubleimg .img1{
    width: 20%;
    
}
.doubleimg .img2{
    width: 70%;
    margin-right: 10%;
}

.doubleimg .img3{
    width: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.doubleimg .img4{
    width: 45%;
    margin-right: 5%;
   
    margin-top: 5%;
}
.doubleimg .img5{
    width: 45%;
    margin-left: 5%;
 margin-top: 5%;
}


.texte{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 30%;
    margin: 5% 0% 10% 10%;
   text-align: left;
    color: white;
    height: 10em;
}


.image{
    background-image: url(FondLive.jpg);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40%;
    height: 20em;
    margin: 5% 0% 5% 8%;
}

.imageweb{
    background-image: url(webfront3.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 40%;
    height: 15em;
    margin: 5% 0% 5% 8%;
}

.frame{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: url("cursor2bl.png"), auto;
}



.imgmotion{
    width: 40%;
}
.imgmotion img{
    width: 80%;
    margin: 5% 5% 5% 25%;
}

.imageiden{
    background-image: url(apollomaga.jpg);
    background-attachment: fixed;
    background-position: right ;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 20em;
    margin: 5% 0% 5% 8%;
}
.imageweb2{
    background-image: url(soyweb.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40%;
    height: 20em;
    margin: 0% 0% 5% 5%;
}

.imageedition{
    background-image: url(magazine.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40%;
    height: 20em;
    margin: 0% 0% 5% 5%;
}


.imageperso{
    background-image: url(shirtavril.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40%;
    height: 20em;
    margin: 0% 0% 5% 5%;
}

.imgfull img{
    width: 80%;
    margin: 7% 10% 0% 10%;
}

.texteleft{
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 35%;
    height: 10em;
    margin: 5% 5% 5% 5%;
}

.textefull{
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 70%;
    height: 10em;
    margin-bottom: 10%;
    padding: 5% 15% 00% 15%;
}

.textefullperso{
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 70%;
    height: 10em;
    margin-bottom: 10%;
    padding: 5% 15% 00% 15%;
}


.texteleftbis{
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 35%;
    height: 10em;
    margin: 0% 0% 5% 5%;
}

.ref{
    color:#efc9de;
    font-style: italic;
}

p{
    font-size: 1.2vw;
    line-height: 185%;

}

h3{
    font-family: 'Lato', sans-serif;
    color: white;
    opacity: 0.5;
    font-size: 0.9vw;
    letter-spacing: 5px;
}


.ref2{
    color:#efc9de;
    font-style: italic;
    margin: 0 10% 0 0;
}


.next{
    padding: 5% 0;
    font-size: 3em;
    width: 100%;
    background-color: #efc9de;
    text-align: center;
    cursor: url("cursorbl.png"), auto;
}
.next h3{
    color: black;
    font-size: 0.5em;
}
.next a{
    cursor: url("cursor2bl.png"), auto;
}

@media screen and (max-width:540px){ 

    
        .norm{
            font-size: 13vw;
            left:5%;
            top:10%;
        }

        .line{
            font-size: 13vw;
            left:10%;
            top: 10%;
        }
                    
        .double{
            padding-top: 10%;
        }
        .image{
            background-size: 100%;
            width: 80%;
            height: 10em;
            padding: 50% 0% 10% 10%;
        }

        .texte{
            font-family: 'Fira Sans', sans-serif;
            color: white;
            width: 80%;
            margin: 5% 0% 10% 10%;
            padding-bottom: 5%;
           text-align: left;
            color: white;
            height: 10em;
        }

        .doubleimg{
            width: 80%; 
            margin: 0% 10% 20% 10%;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .texteleft{
            width: 80%;
            height: 15em;
            margin: 5% 15% 10% 10%;
        }
        .texteleftbis{
            width: 80%;
            height: 10em;
            margin: 5% 15% 10% 10%;
        }
        
        .imgfull img{
            width: 80%;
            margin: 0% 10% 20% 10%;
        }

        .imageweb{
            background-size: 100%;
            width: 80%;
            height: 40em;
            margin: 25% 0% 5% 8%; 
        }
 
        .imageweb2{
           background-size: 100%;
            width: 80%;
            height: 40em;
            margin: 20% 0% 10% 10%;
        }

        
        .imageperso{
            background-size: 100%;
             width: 80%;
             height: 40em;
             margin: 20% 0% 10% 10%;
         }

        
        .imageedition{
            background-size: 100%;
             width: 80%;
             height: 40em;
             margin: 20% 0% 10% 10%;
         }
        .imageiden{
            background-size: 100%;
            width: 80%;
            height: 40em;
            margin: 25% 0% 5% 8%; 
        }
        
        .textefull{
            text-align: left;
            font-family: 'Fira Sans', sans-serif;
            color: white;
            width: 70%;
            height: 10em;
            padding: 5% 15% 00% 15%;
            margin-bottom: 35%;
            
        }
        
        .textefullperso{
            text-align: left;
            font-family: 'Fira Sans', sans-serif;
            color: white;
            width: 70%;
            height: 10em;
            padding: 5% 15% 50% 15%;
            margin-bottom: 55%;
            
        }
            
        .frame{
            width: 80%;
            margin-left:10%;
            margin-right: 10%;
            cursor: url("cursor2bl.png"), auto;
        }
      
        h3{
            font-family: 'Lato', sans-serif;
            color: white;
            opacity: 0.5;
            font-size: 3vw;
            letter-spacing: 5px;
            margin-bottom: 3em;
        }

        p{
            font-size: 3.5vw;
        }

        .doubleimg .img3{
            width: 90%;
            margin-right: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        

        .next{
            padding: 3% 1% 0 0;
            font-size: 1em;
            width: 100%;
            background-color: #efc9de;
            text-align: center;
            cursor: url("cursorbl.png"), auto;
            position: fixed;
            bottom: 0;
        }

        .next h3{
            color: black;
        }

        header{
            height: 8%;
            text-align: center;
            background-color: #1C2937;
            padding: 2%;
        }
    
        header img{
            width : 13%;
            opacity: 1;
        }


}